<form method="get" action="{{'/search/' | url }}" class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
    <div class="dropdown" id="search-results">
        <input autocomplete="off" class="form-control mr-sm-2" type="search" id="search" aria-label="Search" role="search" placeholder="Search">

        <ul class="list-group" id="results"></ul>
    </div>
</form>

<script defer type="text/javascript" src="{{ '/assets/js/search.js' | url }}"></script>