@import 'navigation';
@import 'footer';
@import 'variables';

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
}

.img-thumbnail {
    max-height: 300px;
}

#header {
    background-image: url('../images/mosaic-background.jpg');
    min-height: 270px;

    .header-box {
        background-color: rgb(0,0,0);
        border-left: 8px solid $clir_burgundy;
        width: 56%; // TODO: check how this is set
    }
}

#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    background-color: $clir_burgundy;
    border-color: $clir_burgundy;
}

.float-start, .float-end { margin: 1.6rem; }

main {
    a {
        color: rgb(41,107,164);
    }

    p {
        font-family: 'Montserrat', sans-serif;
        font-size: 18px;
        line-height: 30.4px;
        font-weight: 400;
    }

    strong {
        font-weight: 700;
    }

    ul {
        li {
            line-height: 30.4px;
            font-size: 18px;
        }
    }
}