---
layout: default
---
{%- assign thumbnail = page.clir_id | append: '.png' -%}
{%- assign doi_link = page.doi | prepend: 'https://doi.org/' -%}
<div class="container py-3 px-3">
    {% if page.doi %}
        <a href="{{ doi_link }}" target="_blank">
            <img src="{{ thumbnail | prepend: '/assets/images/reports/' | relative_url }}" height="300" class="float-end" alt="{{ page.title}} Covert">
        </a>
    {% else %}
        <img src="{{ thumbnail | prepend: '/assets/images/reports/' | relative_url }}" height="300" class="float-end" alt="{{ page.title}} Covert">
    {% endif %}

    <p>{{ page.clir_id }}. <strong>{{ page.title }}</strong></p>
    <p>
        {{ page.authors | join: '; '}} ({{ page.pub_date | date: '%m/%Y'}}, {{ page.pages }}pp.)
        {% if page.isbn %} ISBN: {{ page.isbn }}.{% endif %} 
        
    </p>
    {% if page.doi %}
    <p>
        <a href="{{ doi_link }}" target="_blank">
            <img src="https://zenodo.org/badge/DOI/{{ page.doi }}.svg" alt="DOI">
        </a>
    </p>
    {% endif %}
    <p>
        {{ page.description }}
    </p>
    {% if page.doi %}
    <p>
        <a target="_blank" class="btn btn-primary" href="{{ doi_link }}">View</a>
    </p>
    {% endif %}

</div>

<div class="container">
    {{ content }}
</div>